# DS37-01-02: Python Practise
---

<a id="learning-objectives"></a>
## Learning Objectives
*After completing this notebook, you will be able to:*

- Perform list and string indexing operations
- Import and use libraries

---

## <font color='red'> List and string indexing

Given the list below, perform list and/or string operations to replicate the following results. You might need to use list and string indexing, string concatenation (adding strings together), and some other string functions we encountered in Session 01. Pay close attention to upper and lowercase!


* ``the quick brown fox``


* ``a QUICK BROWN FOX``


* ``[3,5,7,9]``


* ``['pete','bob','sarah']``


* ``etep``

In [1]:
my_list = ['a','banana',3,True,5,6,7,8,9,['sarah','bob','pete'],'the quick brown fox jumped over the lazy dog']

``the quick brown fox``

In [4]:
my_list[-1][0:19]

'the quick brown fox'

``a QUICK BROWN FOX``

In [10]:
my_list[0] + ' ' + my_list[-1][4:19].upper()

'a QUICK BROWN FOX'

``[3,5,7,9]``

In [11]:
my_list[2:9:2]

[3, 5, 7, 9]

``['pete','bob','sarah']``

In [13]:
my_list[9][::-1]

['pete', 'bob', 'sarah']

``etep``

In [15]:
my_list[9][-1][::-1]

'etep'

---


## <font color='red'> Importing and using libraries

Pandas is a library we'll be using throughout this course- it's widely used for data manipulating, cleaning, and exploratory data analysis.

We'll cover its basic functions in much more detail in the coming weeks, but let's use Pandas as an example in learning how to import libraries.

Using your Google and/or Stackoverflow skills, find the standard short name we use to import Pandas, then fill in the gaps in the cell below to import it.

In [17]:
import pandas as pd #FILL IN THE GAP HERE

Pandas makes it very easy to read in data files- including CSVs and Excel files. 

Can you use the documentation (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) for the Pandas ``read_csv`` function to figure out how to read in our US Presidential Election Dataset?

In [18]:
election_dataset = pd.read_csv('./data/us_presidential_votes_clean.csv') # FILL IN THE GAPS HERE TO READ IN OUR DATASET

Now let's use the ``head`` command to preview the first 5 rows of our dataset.

In [19]:
election_dataset.head()

,Clinton,Trump,state_abbr,county_name,population_2010,persons_under_5_years_percent_2014,persons_under_18_years_percent_2014,age65plus,female_persons_percent_2014,living_in_same_house_1_year__over_percent_20092013,...,total_number_of_firms_2007,womenowned_firms_percent_2007,manufacturers_shipments_2007_1000,merchant_wholesaler_sales_2007_1000,retail_sales_2007_1000,retail_sales_per_capita_2007,accommodation_and_food_services_sales_2007_1000,building_permits_2014,land_area_in_square_miles_2010,Density
0,0.239569,0.734358,AL,Autauga County,54571,6.0,25.2,13.8,51.4,85.0,...,4067,31.7,0,0,598175,12003,88157,131,594.44,91.8
1,0.195653,0.773515,AL,Baldwin County,182265,5.6,22.2,18.7,51.2,82.1,...,19035,27.3,1410273,0,2966489,17166,436955,1384,1589.78,114.6
2,0.466603,0.522714,AL,Barbour County,27457,5.7,21.2,16.5,46.6,84.8,...,1667,27.0,0,0,188337,6334,0,8,884.88,31.0
3,0.214220,0.769662,AL,Bibb County,22915,5.3,21.0,14.8,45.9,86.6,...,1385,0.0,0,0,124707,5804,10757,19,622.58,36.8
4,0.084699,0.898519,AL,Blount County,57322,6.1,23.6,17.0,50.5,88.7,...,4458,23.2,341544,0,319700,5622,20941,3,644.78,88.9

Can you use the documentation for the ``head`` command (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html) to figure out how to preview:

* The first 10 rows of the dataset
* The last 5 rows of the dataset

In [20]:
election_dataset.head(10)

,Clinton,Trump,state_abbr,county_name,population_2010,persons_under_5_years_percent_2014,persons_under_18_years_percent_2014,age65plus,female_persons_percent_2014,living_in_same_house_1_year__over_percent_20092013,...,total_number_of_firms_2007,womenowned_firms_percent_2007,manufacturers_shipments_2007_1000,merchant_wholesaler_sales_2007_1000,retail_sales_2007_1000,retail_sales_per_capita_2007,accommodation_and_food_services_sales_2007_1000,building_permits_2014,land_area_in_square_miles_2010,Density
0,0.239569,0.734358,AL,Autauga County,54571,6.0,25.2,13.8,51.4,85.0,...,4067,31.7,0,0,598175,12003,88157,131,594.44,91.8
1,0.195653,0.773515,AL,Baldwin County,182265,5.6,22.2,18.7,51.2,82.1,...,19035,27.3,1410273,0,2966489,17166,436955,1384,1589.78,114.6
2,0.466603,0.522714,AL,Barbour County,27457,5.7,21.2,16.5,46.6,84.8,...,1667,27.0,0,0,188337,6334,0,8,884.88,31.0
3,0.214220,0.769662,AL,Bibb County,22915,5.3,21.0,14.8,45.9,86.6,...,1385,0.0,0,0,124707,5804,10757,19,622.58,36.8
4,0.084699,0.898519,AL,Blount County,57322,6.1,23.6,17.0,50.5,88.7,...,4458,23.2,341544,0,319700,5622,20941,3,644.78,88.9
5,0.750904,0.242289,AL,Bullock County,10914,6.3,21.4,14.9,45.3,84.7,...,417,38.8,0,0,43810,3995,3670,1,622.81,17.5
6,0.427864,0.563155,AL,Butler County,20947,6.1,23.6,18.0,53.6,94.6,...,1769,0.0,399132,56712,229277,11326,28427,2,776.83,27.0
7,0.278559,0.692397,AL,Calhoun County,118572,5.7,22.2,16.0,51.8,83.6,...,8713,24.7,2679991,0,1542981,13678,186533,114,605.87,195.7
8,0.418276,0.566338,AL,Chambers County,34215,5.9,21.4,18.3,52.3,85.8,...,1981,29.3,667283,0,264650,7620,23237,8,596.53,57.4
9,0.145101,0.838713,AL,Cherokee County,25989,4.8,20.4,20.9,50.2,90.6,...,2180,14.5,307439,62293,186321,7613,13948,2,553.70,46.9

In [21]:
election_dataset.tail(10)

,Clinton,Trump,state_abbr,county_name,population_2010,persons_under_5_years_percent_2014,persons_under_18_years_percent_2014,age65plus,female_persons_percent_2014,living_in_same_house_1_year__over_percent_20092013,...,total_number_of_firms_2007,womenowned_firms_percent_2007,manufacturers_shipments_2007_1000,merchant_wholesaler_sales_2007_1000,retail_sales_2007_1000,retail_sales_per_capita_2007,accommodation_and_food_services_sales_2007_1000,building_permits_2014,land_area_in_square_miles_2010,Density
3102,0.088666,0.860447,WY,Niobrara County,2484,4.7,16.6,21.2,54.3,81.7,...,463,0.0,0,0,19649,8408,3071,1,2626.04,0.9
3103,0.173227,0.759533,WY,Park County,28205,5.5,20.5,20.1,50.1,84.1,...,3896,22.5,62727,155545,388380,14271,132951,131,6942.08,4.1
3104,0.161211,0.770628,WY,Platte County,8667,4.9,20.4,22.7,49.1,83.8,...,1065,33.0,0,34092,93405,11163,12103,22,2084.21,4.2
3105,0.206245,0.723620,WY,Sheridan County,29116,5.6,21.6,18.3,50.0,83.8,...,3524,21.7,0,0,478180,17110,66787,117,2523.99,11.5
3106,0.149872,0.793344,WY,Sublette County,10247,5.8,24.0,12.6,46.3,82.7,...,1559,17.3,0,0,82792,10563,19746,27,4886.54,2.1
3107,0.194046,0.729428,WY,Sweetwater County,43806,7.3,27.0,9.5,48.1,80.4,...,4052,27.2,0,437493,898189,22843,150439,227,10426.65,4.2
3108,0.600608,0.321945,WY,Teton County,21294,5.7,19.1,12.2,48.2,86.0,...,5974,25.3,0,0,515644,25688,327363,145,3995.38,5.3
3109,0.149261,0.764187,WY,Uinta County,21118,7.6,29.8,11.0,49.6,81.8,...,1983,15.9,0,159375,413983,20626,35497,40,2081.26,10.1
3110,0.143203,0.783580,WY,Washakie County,8533,5.5,23.9,20.1,49.3,88.0,...,845,26.9,0,12128,98308,12596,10175,4,2238.55,3.8
3111,0.088182,0.869226,WY,Weston County,7208,6.5,21.6,18.1,47.4,88.7,...,810,29.3,0,11540,64312,9395,7520,1,2398.09,3.0

Let's check the type of this variable we've just created called ``election_dataset``. We see it's something called a 'DataFrame'. 

This is one of the most important types we'll be working with in this course; think of it as the Python equivalent of a table.

In [22]:
type(election_dataset)

pandas.core.frame.DataFrame